%h1 All People

%table.table
  %thead
    %tr
      %th First name
      %th Last name
      %th Sex
      %th Age
      %th Date of birth
      %th Marital state
      %th Phone
      %th Type
      %th Phone
      %th Type
      %th Occupation
      %th
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.first_name
        %td= link_to person.last_name, edit_person_path(person)
        %td= person.sex
        %td= person.age
        %td= person.date_of_birth
        %td= person.marital_state
        %td= person.phone1
        %td= person.phone1_type
        %td= person.phone2
        %td= person.phone2_type
        %td= person.occupation
        %td= link_to 'Destroy', person, class: "btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @people, :theme => 'twitter-bootstrap-3'
%br
= link_to 'New Person', new_person_path, class: "btn btn-primary"
