%p
  %b First name:
  = @person.first_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Sex:
  = @person.sex
%p
  %b Age:
  = @person.age
%p
  %b Date of birth:
  = @person.date_of_birth
%p
  %b Marital state:
  = @person.marital_state
%p
  %b Phone:
  = @person.phone1
%p
  %b Type:
  = @person.phone1_type
%p
  %b Phone:
  = @person.phone2
%p
  %b Type:
  = @person.phone2_type
%p
  %b Occupation:
  = @person.occupation

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
