%p
  %b
    = @person.first_name
    = @person.last_name
%p
  %i.fa.fa-puzzle-piece
  = @person.sex.humanize
  %i.fa.fa-sun-o
  = @person.age.to_s
  %i.fa.fa-birthday-cake
  = @person.date_of_birth.to_s
  - if @person.occupation != :unknown.to_s
    %i.fa.fa-briefcase
    = @person.occupation.humanize
  - if  @person.marital_state != :unknown.to_s
    %i.fa.fa-heart
    = @person.marital_state.humanize
%p
  - if @person.phone1?
    - if @person.phone1_type == :mobile.to_s
      %i.fa.fa-mobile
    - else
      %i.fa.fa-phone
    = @person.phone1 if @person.phone1?
  - if @person.phone2?
    - if @person.phone2_type == :mobile.to_s
      %i.fa.fa-mobile
    - else
      %i.fa.fa-phone
    = @person.phone2

= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path
