.nested-fields
  .field
    .panel.panel-default
      .panel-body
        .form-group
          .col-sm-6
            %p
              = f.label :line1
              = f.text_field :line1, class: "form-control", placeholder: 'Line 1'
          .col-sm-6
            %p
              = f.label :line2
              = f.text_field :line2, class: "form-control", placeholder: 'Line 2'
        .form-group
          .col-sm-12
            %p
              = f.label :street
              = f.text_field :street, class: "form-control", placeholder: 'Street'
        .form-group
          .col-sm-4
            %p
              = f.label :zip
              = f.text_field :zip, class: "form-control", placeholder: 'Zip'
          .col-sm-8
            %p
              = f.label :locality
              = f.text_field :locality, class: "form-control", placeholder: 'City'
        .form-group
          .col-sm-4
            %p
              = f.label :district
              = f.text_field :district, class: "form-control", placeholder: 'District'
          .col-sm-4
            %p
              = f.label :state
              = f.text_field :state, class: "form-control", placeholder: 'State'
          .col-sm-4
            %p
              = f.label :country
              = f.text_field :country, class: "form-control", placeholder: 'Country'
        .form-group
          .col-sm-12
            %p
              = link_to_remove_association raw(fa_icon("trash", class: "th-large")), f, class: "btn btn-danger"
