= form_for @place do |f|
  - if @place.errors.any?
    #error_explanation
      %h2= "#{pluralize(@place.errors.count, "error")} prohibited this place from being saved:"
      %ul
        - @place.errors.full_messages.each do |msg|
          %li= msg

  %p
    .form-group
      .col-sm-6
        %p
          = f.label :name
          = f.text_field :name, class: "form-control", placeholder: 'Name'
      .col-sm-6
        %p
          = f.label :type_of_place
          = f.number_field :type_of_place, class: "form-control", placeholder: 'Type of Place'
    .form-group
      .col-sm-6
        %p
          = f.label :lon
          = f.number_field :lon, class: "form-control", placeholder: 'Longitude'
      .col-sm-6
        %p
          = f.label :lat
          = f.number_field :lat, class: "form-control", placeholder: 'Latitude'
    .form-group
      .col-sm-12
        %p
          = f.label :description
          = f.text_area :description, class: "form-control", placeholder: 'Description of Place ...'

    %h3 Addresses
    = f.fields_for :addresses do |address|
      = render 'address_fields', f: address
    .links
      = link_to_add_association raw(fa_icon("plus", class: "th-large")), f, :addresses, :force_non_association_create => true, class: "btn btn-success"

  .actions
    = f.submit 'Save', class: "btn btn-primary"

= javascript_include_tag :cocoon
